*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Background Color */
    --bgc-primary-color: #0c0b0b;
    --bg-fill-color: #fdfdfc;
    --bg-food-color: #ff3b3b;

    /* text color */
    --text-primary-color: #f0f0f0;

    /* Spacing */
    --space-xs: 4px;
    --space-sm: 10px;
    --space-md: 16px;
    --space-lg: 22px;
    --space-xl: 30px;
    --space-2xl: 38px;
    --space-3xlf: 46px;

    /* Border Colors */
    --border-primary-color: #333333;

    /* Border radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-ls: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}

html,
body{
    height: 100%;
    width: 100%;
}

html{
    background-color: var(--bgc-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,
section{
    height: 100%;
    width: 100%;
}

section{
    padding: var(--space-2xl);
    height: 100%;
    display: flex;
    flex-direction: column;
}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    border: 1px solid var(--border-primary-color);
    /* flex grow khta hai parent ke ander jitna space bcha hai utna tum cover krlo */
    flex-grow: 1;   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px,1fr));
}

/* each block of snake */
.block{  
    /* width: 30px;
    height: 30px; */
    border: 0.2px solid var(--border-primary-color);
    border-radius: 50%;
    /* border: none; */
}

.fill{  
    /* snake color */
    background-color: var(--bg-fill-color);
}

.food{
    /* food color */
    background-color: var(--bg-food-color);
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #35353587;
    /* piche jitne element honge unhe blur kr dega. */
    backdrop-filter: blur(4px);
    display: flex;  
    justify-content: center;
    align-items: center;
}

.modal .start-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.btn{
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}

.modal .game-over{
    display: none;
}